#company-logo {
    width: 100%;
    padding: 5% 0px;
}

.selected {
    color: #048cfb !important;
    border-bottom: 3px solid #048cfb;
    border-radius: 10px;
}

.nav-item {
    text-decoration: none;
    font-size: 18px;
    color: #242323;
    font-weight: 700;
    padding: 5px 10px;
}